header {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.tile {
  width: 75px;
  height: 75px;
  margin: 10px;
  text-align: center;
  background-image: linear-gradient(antiquewhite, burlywood);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 5px 1px -1px #d3a05f;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.tile:hover {
  transform: scale(1.1);
}

.tile > span {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  justify-content: center;
}

h1 {
  color: white;
}

h1 span {
  color: #ce6512;
}

#game {
  background-color: purple;
}

input {
  background-color: #1a1e2a;
  border: none;
  margin: 10px;
  color: white;
  font-size: 2.5em;
  text-align: center;
  outline: none;
}

.container #game {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
}

.row {
  justify-content: center;
  margin: 10px;
}

.btn {
  margin: 5px;
}

.used {
  opacity: 0.5;
  pointer-events: none;
}

.btn-background {
  background-image: linear-gradient(#9e22b1, #7b198a);
  color: white;
  border-radius: 20px;
  width: 150px;
  font-size: 20px;
  box-shadow: 0px 5px 1px -1px #35053c;
}

.btn-background:hover {
  color: white;
  background-image: linear-gradient(#7b198a, #510a5c);
}

.boardTile {
  width: 50px;
  height: 50px;
  margin: 3px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  opacity: 0.5;
}

.wordFound {
  animation: easeinout 1s;
}

@keyframes easeinout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.wordOnBoard {
  flex-direction: row;
}

.boardLetter {
  color: #1a1e2a;
  font-size: 25px;
  opacity: 1;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.errorMessage {
  animation: fadeinout 1.5s linear 1 forwards;
  color: white;
  font-size: 25px;
}

.errorRow {
  height: 25px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
